*{
    margin: 0;
    padding: 0;
    font-family: Franklin Gothic Medium;
}

header{
    background-image: url(../default.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;
    width: 350px;
    height: auto;
}

.main{
    max-width: 1825px;
    margin: auto;
}

.title{
    position: absolute;
    top: 38%;
    left: 31.5%;
    background: linear-gradient(to left, #9A33FF, #DB94FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: drop 1.5s ease;
}

.title h1{
    color: #fff;
    font-size: 160px;
}

.button{
    font-size: 70px;
    position: absolute;
    top: 65%;
    left: 46%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 2px solid #fff;
    padding: 10x 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000
}

@keyframes drop{
    0%{
        opacity: 0;
        transform: translate(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}

.ap_1{
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 20%;
}
.ap_2{
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 65%;
    left: 28%;
}
.ap_3{
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 70%;
    left: 33%;
}
